<% provide :page_title, "Edit " + @song.title %>
<h1>Editing Song</h1>

<%= render 'form', song: @song %>

<%= link_to 'Show', @song, :class => "btn btn-sm btn-default" %>
<%= link_to 'Back', songs_path, :class => "btn btn-sm btn-default" %>
