<p id="notice"><%= notice %></p>
<div class="row">
  <h1>Songs</h1>
  <h2>manage all songs</h2>
  <%= link_to 'New Song', new_song_path %>
</div>
<hr>
<div class="row">

    <% @songs.each do |song| %>
        <h2><%= link_to "#{song.title}", song %></h2>
        <p>Tags:</p>
        <p>
          <%= song.tag %>
        </p>
    <% end %>
  </div>
<br>
