- provide :page_title, 'Songbook export'
#busker-app
  %h2 Busker 🎸
.col-xs-12.text-right
  %button{ :onclick=>"printBook()", :class => "btn btn-sm btn-primary", :id => "print-book-btn" } Print

- @songs.each do |song|
  .col-xs-12#song-text-area-print
    %p
      %b
        = song.title
    %p
      = simple_format song.text
    %hr
    %br