<% @songs.each do |song| %>
<div class="col-xs-6">
<% if simple_format(song.text).length < 1000 %>
<% #some split action, but dunno how yet %>
<% end %>
  <p id="song-title">
    <b>
      <%= song.title %>
    </b>
  </p>
  <p id="song-text">
    <%= simple_format(song.text) %>
  </p>
</div>

<% end %>
