<% provide :page_title, "Songbooks" %>

<div class="col-md-12">
  <h1>Songbooks</h1>
  <%= link_to 'New Book', new_book_path, :class => "btn btn-sm btn-default" %>
  <hr>
</div>

<% @books.each do |book| %>
<div class="col-md-12">
  <h2><%= link_to "#{book.title}", book %></h2>
  <h4><%= book.description %></h4>
</div>
<% end %>
