h1{
  font-size: 3em!important;
}
h2{
  font-size: 2.5em!important;
}
.notifications{
  padding-top: 20px;
}
p{
  letter-spacing: 0.2px;
  line-height: 1.2;
}
#song-text-area{
  -moz-column-count: auto;
  -webkit-column-count: auto;
  column-count: auto;
  column-width: 300px;
  font-size: 16px;
}
#smallestFont{
  font-size: 13px;
}
#mediumFont{
  font-size: 16px;
}
#largeFont{
  font-size: 20px;
}
.about-text{
  font-size: 20px;
}
#songs-link{
  color: rgb(51, 51, 51)!important;
}
.author-link{
  color: #2C3E50;
}

@media print {
  #header, #footer, #nav { display: none !important; }
  #song-text-area{
    -moz-column-count: auto;
    -webkit-column-count: auto;
    column-count: auto;
    column-width: 300px;
    font-size: 16px;
  }
}
