$teal-color: #42f4c2;
$red-color: #f44174;

.busker_logo{
  color: $red-color;
}
.navbar{
  font-size: 1.5em;
}
 .navbar-brand{
   color: $red-color!important;
   font-size: 1.9em!important;
}
p{
  font-size: 1.2em;
}
