h1{
  font-size: 3em!important;
}
h2{
  font-size: 2.5em!important;
}
.notifications{
  padding-top: 20px;
}
p{
  letter-spacing: 0.2px;
  line-height: 1.2;
}
#song-text-area{
  -moz-column-count: 2;
  -webkit-column-count: 2;
  column-count: 2;
  column-width: 300px;
  font-size: 16px;
}
#smallestFont{
  font-size: 13px;
}
#mediumFont{
  font-size: 16px;
}
#largeFont{
  font-size: 20px;
}
.about-text{
  font-size: 20px;
}
#songs-link{
  color: rgb(51, 51, 51)!important;
}
.author-link{
  color: #2C3E50;
}

#song-text-area-print{
  -moz-column-count: auto;
  -webkit-column-count: auto;
  column-count: auto;
  column-width: 300px;
  font-size: 13px;
}
#busker-app{
  display: none;
}
@media print {
 #print-book-btn{
   display: none;
 }
  #busker-app{
    display: inline;
    position: absolute;
    top: 0;
    left:0;
  }

}

.mt-1 {
  margin-top: 10px !important;
}
.mt-2 {
  margin-top: 25px !important;
}
.mb-1 {
  margin-bottom: 10px !important;
}
.mb-2 {
  margin-bottom: 25px !important;
}