- provide :page_title, "About"
.col-xs-12
  %h1 About
  .about-text
    %p
      This web-app was created by Robert Głód to simplify maintaining songs and chords.
    %p
      If you're interested in code, check #{link_to "Github", "https://github.com/robson3999/busker"}
    %p
      also, you can #{link_to "email me", "mailto:robertglod104@gmail.com"}.
    %br/
    %p
      Layout is based on free Bootstrap Template #{link_to "Freelancer", "https://startbootstrap.com/template-overviews/freelancer/"}
    %br/
    %h3 Really short FAQ:
    %p
      %b Q: How can I use it?
    %p
      Simply, register an account in #{link_to "Sign up", new_user_registration_path}.
    %p
      %b Q: What for?
    %p
      Now, you can create Songbooks and add songs to them. Songbooks are private collections of songs - you can group whatever songs you like.
      Then, when you select created songbook, you've got much faster access to your favourite songs!
