<% provide :page_title, "Authors" %>
<div class="col-xs-12">
  <h2>Authors</h2>
  <hr>
</div>
<div class="col-xs-12">
  <% @authors.each do |author| %>
    <h4>
      <%= link_to author.name, author %>
    </h4>
    <% end %>
</div>
