<% provide :page_title, @author.name %>
<div class="col-xs-12">
  <h2>
  <%= @author.name %>
  </h2>
  <hr>
</div>
<div class="col-xs-12">
  <% @songs.each do |song| %>
  <h4>
    <%= link_to song.title, song %>
  </h4>
  <br>
  <% end %>

</div>
